# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# IDE
.vscode/
.idea/

# 大文件/模型/数据
*.pth
*.pt
*.bin
*.ckpt
*.safetensors
*.h5
data/
dataset/
mimic-cxr/
checkpoints/
output/
saved_models/
weights/
save/
hf/
wandb/
runs/

# 日志
logs/
*.log

# 系统
.DS_Store
